<a href="https://colab.research.google.com/github/jaybakky2013/Statistics/blob/main/Roasted_Seeds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from scipy import stats
from sklearn.impute import SimpleImputer

In [ ]:
data=pd.read_excel('data.xlsx')

In [ ]:
def prepro(data):
  data=np.array(data).reshape(data.shape[0],1)
  return data

In [ ]:
def stack(column1, column2):
  new_columns=np.column_stack((column1,column2))
  new_columns=pd.DataFrame(new_columns, columns=['temperature', 'area'])
  new_columns=new_columns.dropna()
  return new_columns

In [ ]:
def split (data, label, size=0.3):
  train_data, test_data, train_label,test_label=train_test_split(data, label, test_size=size)
  return train_data, test_data, train_label,test_label

In [ ]:
def model(train_data, train_label, test_data):
  linreg= LinearRegression()
  linreg=linreg.fit(train_data, train_label)
  coef=linreg.coef_
  intercept=linreg.intercept_
  label_pred=linreg.predict(test_data)
  return coef, intercept, label_pred

In [ ]:
def acc(label_test, label_pred):
  r2= r2_score(label_test,label_pred)
  return r2

In [ ]:
def statistics(test_label, label_pred):
  ttest,pvalue=stats.ttest_ind(test_label, label_pred)
  return ttest, pvalue

In [ ]:
temperature= prepro(data['Temp'])
time=prepro(data['Time'])
A1=prepro(data['Area 6.25 min (330 nm)  ug CLE'])
A2=prepro(data['Area 11.5 min (350 nm) ug CLE'])
A3=prepro(data['Area 14.95 min (270 nm) ug CLE'])
A4=prepro(data['Area 16.42 min (270 nm) ug CLE'])
A5=prepro(data['Area 31.8 min Canolol (270 nm) ug CLE'])
A6=prepro(data['Area Sinapine (330 nm) ug CLE'])

In [ ]:
Area1=stack(temperature,A1)
Area2=stack(temperature,A2)
Area3=stack(temperature,A3)
Area4=stack(temperature,A4)
Area5=stack(temperature,A5)
Area6=stack(temperature,A6)

In [ ]:
Area1t=stack(time,A1)
Area2t=stack(time,A2)
Area3t=stack(time,A3)
Area4t=stack(time,A4)
Area5t=stack(time,A5)
Area6t=stack(time,A6)

In [ ]:
A1_new=prepro(Area1['area'])
temp_A1=prepro(Area1['temperature'])
A2_new=prepro(Area2['area'])
temp_A2=prepro(Area2['temperature'])
A3_new=prepro(Area3['area'])
temp_A3=prepro(Area3['temperature'])
A4_new=prepro(Area4['area'])
temp_A4=prepro(Area4['temperature'])
A5_new=prepro(Area5['area'])
temp_A5=prepro(Area5['temperature'])
A6_new=prepro(Area6['area'])
temp_A6=prepro(Area6['temperature'])

In [ ]:
A1t_new=prepro(Area1t['area'])
time_A1=prepro(Area1t['temperature'])
A2t_new=prepro(Area2t['area'])
time_A2=prepro(Area2t['temperature'])
A3t_new=prepro(Area3t['area'])
time_A3=prepro(Area3t['temperature'])
A4t_new=prepro(Area4t['area'])
time_A4=prepro(Area4t['temperature'])
A5t_new=prepro(Area5t['area'])
time_A5=prepro(Area5t['temperature'])
A6t_new=prepro(Area6t['area'])
time_A6=prepro(Area6t['temperature'])

In [ ]:
train_data, test_data, train_label,test_label=split(temp_A1,A1_new)
coef, intercept, label_pred=model(train_data, train_label, test_data)
rscore=acc(test_label, label_pred)
rscore

0.6526410116797016

In [ ]:
ttest1, pval1=statistics(temp_A1, A1_new)
ttest2, pval2=statistics(temp_A2, A2_new)
ttest3, pval3=statistics(temp_A3, A3_new)
ttest4, pval4=statistics(temp_A4, A4_new)
ttest5, pval5=statistics(temp_A5, A5_new)
ttest6, pval6=statistics(temp_A6, A6_new)
print(pval1, pval2, pval3, pval4, pval5, pval6)

[5.79641511e-05] [3.90940314e-08] [0.00812239] [4.45849834e-16] [2.8760325e-76] [2.63972084e-153]

In [ ]:
ttest_timeA1, pval_timeA1=statistics(time_A1, A1t_new)
ttest_timeA2, pval_timeA2=statistics(time_A2, A2t_new)
ttest_timeA3, pval_timeA3=statistics(time_A3, A3t_new)
ttest_timeA4, pval_timeA4=statistics(time_A4, A4t_new)
ttest_timeA5, pval_timeA5=statistics(time_A5, A5t_new)
ttest_timeA6, pval_timeA6=statistics(time_A6, A6t_new)
print(pval_timeA1, pval_timeA2, pval_timeA3, pval_timeA4, pval_timeA5, pval_timeA6)

[7.16444323e-18] [1.86763624e-20] [9.5725066e-56] [3.80672624e-27] [8.0628692e-90] [1.21781412e-95]

In [ ]:
P_value = pd.DataFrame([[pval1, pval_timeA1], [pval2, pval_timeA2], [pval3, pval_timeA3],
                    [pval4, pval_timeA4], [pval5, pval_timeA5], [pval6, pval_timeA6]],
                   columns=['P-value Temp + Area', 'P-value Time + Area'])

In [ ]:
P_value.head()

       P-value Temp + Area       P-value Time + Area
0  [5.796415110225023e-05]   [7.164443234282807e-18]
1  [3.909403140412852e-08]  [1.8676362441292033e-20]
2   [0.008122388798916337]   [9.572506604278423e-56]
3  [4.458498344547829e-16]   [3.806726242427705e-27]
4  [2.876032496694528e-76]   [8.062869198917448e-90]

In [ ]:
from scipy.stats import f_oneway

In [ ]:
F1,pf1=f_oneway(temp_A1,A1_new)
F2,pf2=f_oneway(temp_A2,A2_new)
F3,pf3=f_oneway(temp_A3,A3_new)
F4,pf4=f_oneway(temp_A4,A4_new)
F5,pf5=f_oneway(temp_A5,A5_new)
F6,pf6=f_oneway(temp_A6,A6_new)
print(pf1, pf2, pf3, pf4, pf5, pf6)

[5.79641511e-05] [3.90940314e-08] [0.00812239] [4.45849834e-16] [2.8760325e-76] [2.63972084e-153]

In [ ]:
F1t,pf1t=f_oneway(time_A1,A1_new)
F2t,pf2t=f_oneway(time_A2,A2_new)
F3t,pf3t=f_oneway(time_A3,A3_new)
F4t,pf4t=f_oneway(time_A4,A4_new)
F5t,pf5t=f_oneway(time_A5,A5_new)
F6t,pf6t=f_oneway(time_A6,A6_new)
print(pf1t, pf2t, pf3t, pf4t, pf5t, pf6t)

[7.16444323e-18] [1.86763624e-20] [9.5725066e-56] [3.80672624e-27] [8.0628692e-90] [1.21781412e-95]

In [ ]:
F1A,pf1A=f_oneway(temp_A1,A1_new,time_A1)
F2A,pf2A=f_oneway(temp_A2,A2_new,time_A2)
F3A,pf3A=f_oneway(temp_A3,A3_new,time_A3)
F4A,pf4A=f_oneway(temp_A4,A4_new,time_A4)
F5A,pf5A=f_oneway(temp_A5,A5_new,time_A5)
F6A,pf6A=f_oneway(temp_A6,A6_new,time_A6)
print(pf1A, pf2A, pf3A, pf4A, pf5A, pf6A)

[4.26548314e-25] [5.38434687e-49] [6.73087571e-99] [4.99623351e-40] [7.92846175e-139] [7.38182122e-278]

In [ ]:
Anova_P_value = pd.DataFrame([[pf1, pf1t, pf1A], [pf2, pf2t, pf2A], [pf3, pf3t, pf3A],
                    [pf4, pf4t, pf4A], [pf5, pf5t, pf5A], [pf1, pf1t, pf1A]],
                   columns=['Anova P-value Temp + Area', 'Anova P-value Time + Area', 'Anova P-value Temp + Area + Time'])

In [ ]:
Anova_P_value

  Anova P-value Temp + Area  ... Anova P-value Temp + Area + Time
0   [5.796415110225073e-05]  ...          [4.265483144465967e-25]
1   [3.909403140412805e-08]  ...          [5.384346870283603e-49]
2    [0.008122388798916413]  ...          [6.730875711588142e-99]
3    [4.45849834454778e-16]  ...          [4.996233512546961e-40]
4  [2.8760324966944667e-76]  ...         [7.928461753859022e-139]
5   [5.796415110225073e-05]  ...          [4.265483144465967e-25]

[6 rows x 3 columns]